@using Entities
@using Business

@inject NavigationManager NavManager

<EditForm Model="oProduct">
    <div class="form-group">
        <label>Producto:</label>
        <InputText @bind-Value="oProduct.ProductName" class="form-control" />
    </div>

    <div class="form-group">
        <label>Descripcion:</label>
        <InputText @bind-Value="oProduct.ProductDescription" class="form-control" />
    </div>

    <div class="form-group">
        <label>Categoría:</label>
        <InputSelect class="form-control" @bind-Value="oProduct.CategoryId" >
            <option value="">Seleccionar Categoría..</option>
            @foreach (var category in categories)
            {
                <option value="@category.CategoryId">@category.CategoryName</option>
            }
        </InputSelect>
    </div>

      <input type="button" value="Actualizar Producto" @onclick="UpdateProduct" />
</EditForm>

@code {
    [Parameter]
    public string IdProduct { get; set; }

    ProductEntity oProduct = new ProductEntity();
    List<CategoryEntity> categories = new List<CategoryEntity>();

    protected override async Task OnInitializedAsync()
    {
        categories = B_Category.CategoryList();
        oProduct = B_Product.ProductById(IdProduct);
    }

     private void UpdateProduct()
    {
        B_Product.UpdateProduct(oProduct);
        NavManager.NavigateTo("product/list");
    }
}
